In [82]:
import pandas as pd
import numpy as np
import warnings
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import confusion_matrix
from sklearn.metrics import classification_report

warnings.filterwarnings("ignore")

In [4]:
#Loading the data
data=pd.read_csv('F:/IMP.DATA/Documents/FlippNation/r/Data (1)/Data/bank-full.csv',sep=';')
data.head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,no,2143,yes,no,unknown,5,may,261,1,-1,0,unknown,no
1,44,technician,single,secondary,no,29,yes,no,unknown,5,may,151,1,-1,0,unknown,no
2,33,entrepreneur,married,secondary,no,2,yes,yes,unknown,5,may,76,1,-1,0,unknown,no
3,47,blue-collar,married,unknown,no,1506,yes,no,unknown,5,may,92,1,-1,0,unknown,no
4,33,unknown,single,unknown,no,1,no,no,unknown,5,may,198,1,-1,0,unknown,no

In [5]:
#Converting the format of Output Variable from Strings to Numeric
# 
data.y.replace(('yes','no'),(1,0),inplace=True)
data.default.replace(('yes','no'),(1,0),inplace=True)
data.housing.replace(('yes','no'),(1,0),inplace=True)
data.loan.replace(('yes','no'),(1,0),inplace=True)

data.head(5)

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,y
0,58,management,married,tertiary,0,2143,1,0,unknown,5,may,261,1,-1,0,unknown,0
1,44,technician,single,secondary,0,29,1,0,unknown,5,may,151,1,-1,0,unknown,0
2,33,entrepreneur,married,secondary,0,2,1,1,unknown,5,may,76,1,-1,0,unknown,0
3,47,blue-collar,married,unknown,0,1506,1,0,unknown,5,may,92,1,-1,0,unknown,0
4,33,unknown,single,unknown,0,1,0,0,unknown,5,may,198,1,-1,0,unknown,0

In [6]:
#Concatenating the dummy variables for the feature job with several levels and the original dataset 
data12=pd.concat([pd.get_dummies(data.job),data.iloc[:,0:17]],axis=1)
#Concatenating the dummy variables for the feature marital with three levels and the modified dataset (data12)
data13=pd.concat([pd.get_dummies(data12.marital),data12.iloc[:,0:29]],axis=1)
#Concatenating the dummy variables for the feature education with four levels and the modified dataset (data13)
data14=pd.concat([pd.get_dummies(data13.education),data13.iloc[:,0:32]],axis=1)
#Concatenating the dummy variables for the feature contact with three levels and the modified dataset (data14)
data15=pd.concat([pd.get_dummies(data14.contact),data14.iloc[:,0:36]],axis=1)
#Concatenating the dummy variables for the feature month with twelve levels and the modified dataset (data15)
data16=pd.concat([pd.get_dummies(data15.month),data15.iloc[:,0:39]],axis=1)
#Concatenating the dummy variables for the feature poutcome with four levels and the modified dataset (data15)
data17=pd.concat([pd.get_dummies(data16.poutcome),data16.iloc[:,0:51]],axis=1)
data17.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45211 entries, 0 to 45210
Data columns (total 55 columns):
failure          45211 non-null uint8
other            45211 non-null uint8
success          45211 non-null uint8
unknown          45211 non-null uint8
apr              45211 non-null uint8
aug              45211 non-null uint8
dec              45211 non-null uint8
feb              45211 non-null uint8
jan              45211 non-null uint8
jul              45211 non-null uint8
jun              45211 non-null uint8
mar              45211 non-null uint8
may              45211 non-null uint8
nov              45211 non-null uint8
oct              45211 non-null uint8
sep              45211 non-null uint8
cellular         45211 non-null uint8
telephone        45211 non-null uint8
unknown          45211 non-null uint8
primary          45211 non-null uint8
secondary        45211 non-null uint8
tertiary         45211 non-null uint8
unknown          45211 non-null uint8
divorced         45211 non-null uint8
married          45211 non-null uint8
single           45211 non-null uint8
admin.           45211 non-null uint8
blue-collar      45211 non-null uint8
entrepreneur     45211 non-null uint8
housemaid        45211 non-null uint8
management       45211 non-null uint8
retired          45211 non-null uint8
self-employed    45211 non-null uint8
services         45211 non-null uint8
student          45211 non-null uint8
technician       45211 non-null uint8
unemployed       45211 non-null uint8
unknown          45211 non-null uint8
age              45211 non-null int64
job              45211 non-null object
marital          45211 non-null object
education        45211 non-null object
default          45211 non-null int64
balance          45211 non-null int64
housing          45211 non-null int64
loan             45211 non-null int64
contact          45211 non-null object
day              45211 non-null int64
month            45211 non-null object
duration         45211 non-null int64
campaign         45211 non-null int64
pdays            45211 non-null int64
previous         45211 non-null int64
poutcome         45211 non-null object
y                45211 non-null int64
dtypes: int64(11), object(6), uint8(38)
memory usage: 7.5+ MB

In [9]:
#Final Features (Numerical)
#Removing the duplicacy by dropping the original factor variables 
#converting the data to an array using .values to make the features compatible with the Logistic Regression
#model
features=data17.iloc[:,[0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19,20,21,22,23,24,25,26,27,28,29,30,31,32,33,34,35,36,37,38,42,43,44,45,47,49,50,51,52]]
features.values

array([[  0,   0,   0, ...,   1,  -1,   0],
       [  0,   0,   0, ...,   1,  -1,   0],
       [  0,   0,   0, ...,   1,  -1,   0],
       ...,
       [  0,   0,   1, ...,   5, 184,   3],
       [  0,   0,   0, ...,   4,  -1,   0],
       [  0,   1,   0, ...,   2, 188,  11]], dtype=int64)

In [7]:
#Create features and labels
#For classification, features must be n(d) array and label must be 1d array

#Label
label=data17.y
label

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
45181    0
45182    1
45183    0
45184    0
45185    1
45186    0
45187    1
45188    1
45189    0
45190    1
45191    1
45192    1
45193    1
45194    0
45195    1
45196    1
45197    1
45198    0
45199    0
45200    1
45201    1
45202    1
45203    1
45204    1
45205    1
45206    1
45207    1
45208    1
45209    0
45210    0
Name: y, Length: 45211, dtype: int64

In [73]:
#Making a for loop where the data is split in train/test to cross validate the logistic model that we create 
#As well as Generalization of the Model to get a test score higher than the train score
#I'm Getting Train Score of 1 because Decision tree is prone to over fitting.And that is why I'm not getting 
#a test score greater than the train score.

warnings.filterwarnings("ignore")
for i in range (0,100):
    X_train,X_test,Y_train,Y_test=train_test_split(features,
                                                  label,
                                                  test_size=0.2,
                                                  random_state=i)
    clf = DecisionTreeClassifier()
    clf.fit(X_train,Y_train)

    train_score=clf.score(X_train,Y_train)
    test_score=clf.score(X_test,Y_test)

    print("Test Score:{} Train Score:{} Random State:{}".format(test_score,train_score,i))

Test Score:0.8719451509454826 Train Score:1.0 Random State:0
Test Score:0.8802388587858012 Train Score:1.0 Random State:1
Test Score:0.8772531239632865 Train Score:1.0 Random State:2
Test Score:0.8726086475727082 Train Score:1.0 Random State:3
Test Score:0.8790224483025545 Train Score:1.0 Random State:4
Test Score:0.878358951675329 Train Score:1.0 Random State:5
Test Score:0.8772531239632865 Train Score:1.0 Random State:6
Test Score:0.8795753621585757 Train Score:1.0 Random State:7
Test Score:0.876589627336061 Train Score:1.0 Random State:8
Test Score:0.8742673891407718 Train Score:1.0 Random State:9
Test Score:0.8813446864978436 Train Score:1.0 Random State:10
Test Score:0.8737144752847507 Train Score:1.0 Random State:11
Test Score:0.8780272033617162 Train Score:1.0 Random State:12
Test Score:0.8762578790224483 Train Score:1.0 Random State:13
Test Score:0.8769213756496738 Train Score:1.0 Random State:14
Test Score:0.8759261307088355 Train Score:1.0 Random State:15
Test Score:0.8803494415570055 Train Score:1.0 Random State:16
Test Score:0.877916620590512 Train Score:1.0 Random State:17
Test Score:0.8785801172177374 Train Score:1.0 Random State:18
Test Score:0.8790224483025545 Train Score:1.0 Random State:19
Test Score:0.8807917726418224 Train Score:1.0 Random State:20
Test Score:0.8780272033617162 Train Score:1.0 Random State:21
Test Score:0.8744885546831803 Train Score:1.0 Random State:22
Test Score:0.8699546610638063 Train Score:1.0 Random State:23
Test Score:0.8781377861329205 Train Score:1.0 Random State:24
Test Score:0.875704965166427 Train Score:1.0 Random State:25
Test Score:0.8758155479376313 Train Score:1.0 Random State:26
Test Score:0.8760367134800399 Train Score:1.0 Random State:27
Test Score:0.8768107928784695 Train Score:1.0 Random State:28
Test Score:0.8773637067344907 Train Score:1.0 Random State:29
Test Score:0.8780272033617162 Train Score:1.0 Random State:30
Test Score:0.8816764348114564 Train Score:1.0 Random State:31
Test Score:0.8760367134800399 Train Score:1.0 Random State:32
Test Score:0.8760367134800399 Train Score:1.0 Random State:33
Test Score:0.8755943823952228 Train Score:1.0 Random State:34
Test Score:0.8772531239632865 Train Score:1.0 Random State:35
Test Score:0.877031958420878 Train Score:1.0 Random State:36
Test Score:0.8778060378193078 Train Score:1.0 Random State:37
Test Score:0.8728298131151166 Train Score:1.0 Random State:38
Test Score:0.8737144752847507 Train Score:1.0 Random State:39
Test Score:0.8750414685392016 Train Score:1.0 Random State:40
Test Score:0.8666371779276789 Train Score:1.0 Random State:41
Test Score:0.8747097202255889 Train Score:1.0 Random State:42
Test Score:0.8825610969810903 Train Score:1.0 Random State:43
Test Score:0.8754837996240186 Train Score:1.0 Random State:44
Test Score:0.8786906999889417 Train Score:1.0 Random State:45
Test Score:0.876589627336061 Train Score:1.0 Random State:46
Test Score:0.8732721441999336 Train Score:1.0 Random State:47
Test Score:0.875704965166427 Train Score:1.0 Random State:48
Test Score:0.8705075749198274 Train Score:1.0 Random State:49
Test Score:0.878358951675329 Train Score:1.0 Random State:50
Test Score:0.8721663164878912 Train Score:1.0 Random State:51
Test Score:0.8831140108371116 Train Score:1.0 Random State:52
Test Score:0.8824505142098861 Train Score:1.0 Random State:53
Test Score:0.8839986730067455 Train Score:1.0 Random State:54
Test Score:0.8793541966161672 Train Score:1.0 Random State:55
Test Score:0.8769213756496738 Train Score:1.0 Random State:56
Test Score:0.873382726971138 Train Score:1.0 Random State:57
Test Score:0.8806811898706182 Train Score:1.0 Random State:58
Test Score:0.872055733716687 Train Score:1.0 Random State:59
Test Score:0.8827822625234988 Train Score:1.0 Random State:60
Test Score:0.8810129381842309 Train Score:1.0 Random State:61
Test Score:0.8749308857679974 Train Score:1.0 Random State:62
Test Score:0.8747097202255889 Train Score:1.0 Random State:63
Test Score:0.8825610969810903 Train Score:1.0 Random State:64
Test Score:0.8716134026318699 Train Score:1.0 Random State:65
Test Score:0.8769213756496738 Train Score:1.0 Random State:66
Test Score:0.8775848722768993 Train Score:1.0 Random State:67
Test Score:0.8743779719119761 Train Score:1.0 Random State:68
Test Score:0.8826716797522945 Train Score:1.0 Random State:69
Test Score:0.8728298131151166 Train Score:1.0 Random State:70
Test Score:0.8805706070994139 Train Score:1.0 Random State:71
Test Score:0.8747097202255889 Train Score:1.0 Random State:72
Test Score:0.8782483689041247 Train Score:1.0 Random State:73
Test Score:0.8742673891407718 Train Score:1.0 Random State:74
Test Score:0.8719451509454826 Train Score:1.0 Random State:75
Test Score:0.8751520513104059 Train Score:1.0 Random State:76
Test Score:0.8761472962512441 Train Score:1.0 Random State:77
Test Score:0.8845515868627668 Train Score:1.0 Random State:78
Test Score:0.8771425411920822 Train Score:1.0 Random State:79
Test Score:0.8763684617936526 Train Score:1.0 Random State:80
Test Score:0.8738250580559549 Train Score:1.0 Random State:81
Test Score:0.875704965166427 Train Score:1.0 Random State:82
Test Score:0.8721663164878912 Train Score:1.0 Random State:83
Test Score:0.8742673891407718 Train Score:1.0 Random State:84
Test Score:0.8791330310737587 Train Score:1.0 Random State:85
Test Score:0.873382726971138 Train Score:1.0 Random State:86
Test Score:0.8813446864978436 Train Score:1.0 Random State:87
Test Score:0.8699546610638063 Train Score:1.0 Random State:88
Test Score:0.8797965277009842 Train Score:1.0 Random State:89
Test Score:0.8749308857679974 Train Score:1.0 Random State:90
Test Score:0.8740462235983634 Train Score:1.0 Random State:91
Test Score:0.8764790445648568 Train Score:1.0 Random State:92
Test Score:0.8745991374543846 Train Score:1.0 Random State:93
Test Score:0.870286409377419 Train Score:1.0 Random State:94
Test Score:0.8742673891407718 Train Score:1.0 Random State:95
Test Score:0.8700652438350105 Train Score:1.0 Random State:96
Test Score:0.8767002101072653 Train Score:1.0 Random State:97
Test Score:0.8804600243282097 Train Score:1.0 Random State:98
Test Score:0.8785801172177374 Train Score:1.0 Random State:99

In [75]:
#Implement Decision Tree at random state 78 as it was the highest test score state
    
X_train,X_test,Y_train,Y_test=train_test_split(features,
                                                  label,
                                                  test_size=0.2,
                                                  random_state=78)
clf = DecisionTreeClassifier()
clf.fit(X_train,Y_train)

In [78]:
clf.predict(features)

array([0, 0, 0, ..., 1, 0, 0], dtype=int64)

In [80]:
cm = confusion_matrix(label,clf.predict(features))
cm

array([[39361,   561],
       [  480,  4809]], dtype=int64)

In [81]:
#From the classification report below 
#The accuracy of the model is 98 percent 

#print(classification_report())
print(classification_report(label,clf.predict(features)))

              precision    recall  f1-score   support

           0       0.99      0.99      0.99     39922
           1       0.90      0.91      0.90      5289

    accuracy                           0.98     45211
   macro avg       0.94      0.95      0.94     45211
weighted avg       0.98      0.98      0.98     45211